<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnovoselec.android.hrprognoza" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tnovoselec.android.hrprognoza.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".provider.CityProvider"
            android:authorities="com.tnovoselec.hrprognoza.cityprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".provider.HourlyForecastProvider"
            android:authorities="com.tnovoselec.hrprognoza.hourlyforecastprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".provider.DailyForecastProvider"
            android:authorities="com.tnovoselec.hrprognoza.dailyforecastprovider"
            android:exported="false" >
        </provider>

        <service
            android:name=".service.UpdateService"
            android:exported="false" />
    </application>

</manifest>
